# Framework
# ---------
YII_DEBUG=true
YII_ENV=dev
APP_MAINTENANCE=0
BASE_DOMEN_URL = http://api.test.uz
# Application
# -----------
LINK_ASSETS=true

# Databases
# ---------
DB_DSN=pgsql:host=localhost;port=5432;dbname=db_name
DB_USERNAME=postgres
DB_PASSWORD=5432

# Urls
# ----
FRONTEND_HOST_INFO=http://yii2-starter-kit.localhost
BACKEND_HOST_INFO=http://backend.yii2-starter-kit.localhost
STORAGE_HOST_INFO=http://storage.yii2-starter-kit.localhost


 
